__pycache__/
*.py[cod]
*$py.class
*.egg-info
*.egg-info/
.eggs/
dist/
build/
.venv
.venv/
venv/
/runs/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.env
**/deepseek.env
examples/mpi_io_load
examples/01/mpi_missing_so
examples/01/missing-so-build/
examples/01/not-deployed-lib/
examples/02/cgroup_oom
examples/03/mpi_fault_segfault
examples/03/cg.*.x
examples/05/mpi_fault_fpe
examples/06/mpi_fault_deadlock
examples/06x/mpi_fault_abort
examples/07a/io_enoent
