__pycache__/
*.py[cod]
*$py.class
*.egg-info
*.egg-info/
.eggs/
dist/
build/
.venv
.venv/
venv/
/runs/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.env
**/deepseek.env
examples/mpi_io_load
examples/mpi_fault_abort
examples/mpi_fault_segfault
examples/cg.*.x
测试.md
